.about {
    h1 {
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 30px;
    }
    p {
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 60px;

    }
    .arrow {
        width: 15px;
        height: 60px;
        align-self: center;
        margin-left: 50%;
    
    }
}