.apresentation{
    display: flex;
    flex-direction: column;
    p{
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: #333333;

    }
    a{
        max-width: 190px;
        background: #2F80ED;
        border-radius: 15px;
        padding: 13px 35px;
        text-decoration: none;
        color: white;
        display:block

    }
    img {
        width: 15px;
        height: 60px;
        align-self: center;
    
    }
}